<html>
    <head>
        <title>Add a new class</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/static/styles.css" type="text/css" />
    </head>
    
    <body>
        <script>
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));
        </script>
        
        <script type="text/javascript">
            var id = null
            
            window.extAsyncInit = function() {
                MessengerExtensions.getUserID(function success(uids) {
              	// User ID was successfully obtained. 
                  	id = uids.psid;
                  	
                    nanoajax.ajax({url:'https://winami.io/webviews/subjects/'+id}, function (code, responseText) {
                        var subjects = JSON.parse(responseText)
                        var subjectSelect = document.getElementById('subject');
                        for (var i = 0; i < subjects.length; i++) {
                            subjectSelect.options[subjectSelect.options.length] = new Option(subjects[i], subjects[i]);
                        }
                    })
                  	
                  	
                }, function error(err, errorMessage) {      
              	    alert(errorMessage)
                });    
            };
        
            var submit = function() {
                var subject = document.getElementsByName('subject')[0].value
                var name = document.getElementsByName('name')[0].value
                var due_date = document.getElementsByName('due_date')[0].value
                var due_time = document.getElementsByName('due_time')[0].value
                var time_left = document.getElementsByName('time_left')[0].value

                if (subject == '' || name == '' || due_date == '' || due_time == '' || time_left =='') {
                    alert('Please fill in the fields')
                    return
                }
                
                
                nanoajax.ajax({url: 'https://winami.io/webviews/add_task', method: 'POST', body: 'id='+id+'&subject='+subject+'&due_date='+due_date+'&due_time='+due_time+'&name='+name+'&time_left='+time_left}, function (code, responseText, request) {
                    MessengerExtensions.requestCloseBrowser(function success() {
  
                    }, function error(err) {
                        window.location('https://www.messenger.com/closeWindow/?image_url=https://i.imgur.com/xAPX3v1.png&display_text=Closing%20Window')
                    });
                })
              
                
            }
        </script>
        
        <div id='form'>
            <label>Subject</label>
            <br>
            <select type="text" name="subject" id ="subject">
                <option value="no_subject">No Subject</option>
            </select>
            <br>
            <label>Task Name</label>
            <br>
            <input type="text" name="name"/>
            <br>
            <label for="">Due Date</label>
            <br>
            <input type="date" name="due_date" placeholder="14:10"/>
            <br>
            <label for="">Due Time</label>
            <br>
            <input type="time" name="due_time" placeholder="23/08/2017"/>
            <br>
            <label for="">How long do you think it will take to complete? (Minutes)</label>
            <br>
            <input type="number" name="time_left" placeholder="180"/>
            <br>
            <br>
            <button onclick="submit()">Submit</button>
        </div>
        
        
        
        <script type="text/javascript">
            !function(t,e){function n(t){return t&&e.XDomainRequest&&!/MSIE 1/.test(navigator.userAgent)?new XDomainRequest:e.XMLHttpRequest?new XMLHttpRequest:void 0}function o(t,e,n){t[e]=t[e]||n}var r=["responseType","withCredentials","timeout","onprogress"];t.ajax=function(t,a){function s(t,e){return function(){c||(a(void 0===f.status?t:f.status,0===f.status?"Error":f.response||f.responseText||e,f),c=!0)}}var u=t.headers||{},i=t.body,d=t.method||(i?"POST":"GET"),c=!1,f=n(t.cors);f.open(d,t.url,!0);var l=f.onload=s(200);f.onreadystatechange=function(){4===f.readyState&&l()},f.onerror=s(null,"Error"),f.ontimeout=s(null,"Timeout"),f.onabort=s(null,"Abort"),i&&(o(u,"X-Requested-With","XMLHttpRequest"),e.FormData&&i instanceof e.FormData||o(u,"Content-Type","application/x-www-form-urlencoded"));for(var p,m=0,v=r.length;v>m;m++)p=r[m],void 0!==t[p]&&(f[p]=t[p]);for(var p in u)f.setRequestHeader(p,u[p]);return f.send(i),f},e.nanoajax=t}({},function(){return this}());
        </script>
        
    </body>
</html>